.o_work_hierarchy_page {
    .o_list_number_th {
        max-width: 150px;
    }
    
    .o_account_reports_caret_icon{
        visibility: hidden;
        cursor: pointer;
        &:hover{
            color: orange;
        }
        margin-right: 5px;
    }
    .foldable{
        .o_account_reports_caret_icon{
            visibility: visible;
            width: 5px!important;
            display: inline-block;
        }
    }

    .fa-caret-down{
        display: inline-block;
        color: var(--primary);
    }
    .fa-caret-right{
        display: none;
        color: var(--primary);
    }

    .fold{
        .fa-caret-down{
            display: none;
        }
        .fa-caret-right{
            display: inline-block;
        }
    }

    .o_work_hierarchy_report_line {
        cursor: pointer;

        &.foldable{
            font-weight: 600;
            th, td{
                vertical-align: middle;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }

        .danger{
            color: #ed3e3e;
        }
        
        .info {
            color: #006c7c;
        }
        
        &.info-line{
            font-size: 0.8rem;
            color: gray;
            font-weight: 400;
            font-style: italic;
            .display-name{
                .o_account_reports_caret_icon{
                    margin-left: 15px;
                }
            }
        }
        .standard-deviation{
            font-size: 0.7em;
            z-index: 1000;
            &::before{
                content:" (±"
            }
            &::after{
                content: "%)";
            }
        }
        td{
            overflow: unset!important;
            position: relative;
            sup{
                position: absolute;
                line-height: 15px;
            }
        }
        // &.base-line{
        //     .o_list_number{
        //         font-weight: 600;
        //     }
        // }
    }

    @include media-breakpoint-down(sm) {
        .o_work_hierarchy_report_line {
            & .fa-caret-down, & .fa-caret-right {
                font-size: 2em;
                width: 2em;
            }
        }
    }


    @keyframes updatingBackground {
        0% {
            background-color: unset;
        }
        40% {
            background-color: rgb(255, 174, 0);
        }
        60% {
            background-color: rgb(255, 128, 1);
        }
        70% {
            background-color: rgb(255, 187, 0);
        }
        100% {
            background-color: unset;
        }
    }
    
    @keyframes updatingFontWeight {
        0% {
            font-weight: unset;
        }
        40% {
            font-weight: 700;
        }
        60% {
            font-weight: 900;
        }
        70% {
            font-weight: 1000;
        }
        100% {
            font-weight: unset;
        }
    }


    .element-update{
        animation: updatingBackground linear 0.5s, updatingFontWeight linear 10s;
    }
}
